In [1]:
print ("hello")

hello

In [2]:
## this isa simple print statement - with demo of single line comment
print ("hi")
#print ("hello")
print ("welcome")

hi
welcome

# multi line comment has three quotes at front and three quotes and back , the inbetween data will be printed 

"""
HI
HELLO
WELCOME

"""

In [7]:
input ("enter your name")

enter your namesahana

'sahana'

In [10]:
#if a is variable and "is value"

a ="raj"
print(a)

raj

In [11]:
print(a)

raj

In [16]:
### data types

In [17]:
#string- anything that comes in double quotes

In [35]:
a = "sachintendulkar"

In [36]:
print(type(a))

<class 'str'>

In [37]:
print(isinstance(a,str))

True

In [ ]:
### there are two types to find the data type
1.assign a="variable
print(type(a))"

2. print(instance(a,str))
it tells where it is true or false

In [39]:
print(len(a)) #gets the length

15

In [40]:
print(min(a))
print(max(a))
print(sorted(a))

a
u
['a', 'a', 'c', 'd', 'e', 'h', 'i', 'k', 'l', 'n', 'n', 'r', 's', 't', 'u']

In [41]:
print(a.isupper())
print(a.islower())

False
True

In [42]:
print(a.upper())
print(a.lower())
print(a.swapcase())

SACHINTENDULKAR
sachintendulkar
SACHINTENDULKAR

In [44]:
print(a.isalpha()) #is space is there alpha and alnum shows false 
print(a.isalnum()) #alpha or num
print(a.isdigit())

True
True
False

In [45]:
a="sachin tendulkar"

In [46]:
print(a[5])

n

In [47]:
### start : end : interval

In [48]:
print(a[3:10])

hin ten

In [49]:
print(a[:])

sachin tendulkar

In [50]:
print(a[::1])

sachin tendulkar

In [51]:
print(a[::2])

sci edla

In [54]:
print(a[-1])  ## reverse coding for last letter

r

In [55]:
print(a[::-1])  ##how to reverse a string

rakludnet nihcas

In [56]:
print(a[-3])

k

In [60]:
print(a[::-2])

rkuntnha

In [64]:
##
print(a.index("s"))

0

In [65]:
print(a.index("a"))

1

In [66]:
print(a.index("a", 2,15))

14

In [67]:
print(a.rindex("a"))

14

In [68]:
print(a.index("a",2))

14

In [69]:
## index , find
print(a.index("a"))
print(a.find("a"))

1
1

In [70]:
print ("hello")

hello

In [71]:
print ("sahana")

sahana

In [72]:
print("sahana")

sahana

In [73]:
print("sahana
      vasu")

SyntaxError: unterminated string literal (detected at line 1) (4154386353.py, line 1)

In [74]:
print("vasu")

vasu

In [76]:
print("sahana")
#print("vasunthra")

sahana

In [77]:
input("enter your age")

enter your age40

'40'

In [79]:
a = "vasunthra"

In [81]:
a = "sachin tendulkar "

In [82]:
print(a.split("a"))
print(a.split("a",1))

['s', 'chin tendulk', 'r ']
['s', 'chin tendulkar ']

In [83]:
print(a.replace("a","s"))
print(a.replace("a" , "s",1))

sschin tendulksr
sschin tendulkar

In [84]:
print(a.count("t"))

1

In [85]:
print(a.count("a"))

2

In [86]:
a="123"
b=123

In [87]:
print(type(a))

<class 'str'>

In [88]:
print(type(b))

<class 'int'>

In [95]:
c=int(a)
print(c)
print(type(c))

123
<class 'int'>

In [97]:
### all function which supprted string will not suport integer (int)
a="123"
b=float(a)  ## float is decimal point
print(b)

123.0

In [100]:
###  function which supprted string will not suport integer (int)
a=123
b=(len(a))

TypeError: object of type 'int' has no len()

In [116]:
a=["arun","28","chennai"]

In [102]:
#type #instance #min #max #sorted #length #reverse

In [103]:
print(type(a))

<class 'list'>

In [104]:
print(min(a))

28

In [105]:
print(max(a))

chennai

In [109]:
print(isinstance(a,str))

False

In [117]:
print(sorted(a))

['28', 'arun', 'chennai']

In [111]:
print(len(a))

3

In [112]:
print(a[::-1])

['chennai', '28', 'arun']

In [124]:
a.append("test")  ## append add the extra data at last
print(a)

['arun', '28', 'chennai', 'test']

In [125]:
a.insert(2,"demo")  ##insert add the data at specific needed point
print(a)

['arun', '28', 'demo', 'chennai', 'test']

In [126]:
a.remove("test")   ## remove -will remove the particular data from the list
print(a)

['arun', '28', 'demo', 'chennai']

In [129]:
del a[2]  ## instead of using remove we can use del 
print(a)

['arun', '28', 'chennai']

In [51]:
a="test@gmail.com"
#test
#gmail
print(a.split("@"))
b="gmail.com"
(b.split("."))

['test', 'gmail.com']

['gmail', 'com']

In [ ]:
a=["dinesh","suhdn" , "chennai"]
3should get the last letter

In [1]:
a= "dhoni"

In [2]:
a="test@gmail.com"

dhon

In [3]:
a=["hi","hello","welcome"]

In [4]:
b= a.pop()   ## pop will remove the last element in the list

In [5]:
print(a)

['hi', 'hello']

In [6]:
print(b)

welcome

In [7]:
there are two types of pop :
##shallow - same memorry will be allocated for a and b

In [10]:
a=[1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
### deep - different memorry will be allocated for a and b 
a=[1,2,3]
b = a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [12]:
## in list only index will worrk rindex or find will not be appliace

In [13]:
a=["hi" , "hello" , "welcome"]
print(a.index("hi"))

0

In [14]:
print(a.find("hi")) ## as find is not applicable in list

AttributeError: 'list' object has no attribute 'find'

In [22]:
a=("hi" , "hello" , "welcome")
print(type(a))
print(isinstance(a,str))
print (min(a))
print(max(a))
print(sorted(a))
print(a[0])

<class 'tuple'>
False
hello
welcome
['hello', 'hi', 'welcome']
hi

In [26]:
a.append("yes")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
(diff between list and tupple - tupple cannot be changed as like list) 
                  ( list is mutable can be changed and it is slow)
                  (tupple is immutable and fast which has normal brackets)

In [30]:
a ={1,6,8,9,6,4,6,8}

In [31]:
print(a)

{1, 4, 6, 8, 9}

In [32]:
print(type(a))   ## no duplicates , no index concept

<class 'set'>

In [33]:
a={1,2,3,4,5}
b={3,4,5,6,7}

In [34]:
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference (a))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{6, 7}

In [35]:
print(a.issubset(b))
print(b.issubset(a))

False
False

In [36]:
print(a.issuperset(b))
print(b.issuperset(a))

False
False

In [38]:
a.add(8)
print(a)

{1, 2, 3, 4, 5, 8}

In [40]:
a.remove(2)
print(a)

{1, 3, 4, 5, 8}

In [52]:
a=[["kiran","20","trichy"],["madurai","arun" ,"24"]]
#dictionary - key colon value

In [63]:
a={"name": "kiran" , "age" :20 , "loc" : "trichy"}
print(type(a))
print(isinstance(a,str))
print(isinstance(a,dict))
print(max(a))
print(min(a))
print(sorted(a))

<class 'dict'>
False
True
name
age
['age', 'loc', 'name']

In [64]:
a.keys() -- gives list

dict_keys(['name', 'age', 'loc'])

In [65]:
a.values()  -- gives list

dict_values(['kiran', 20, 'trichy'])

In [66]:
a.items() -- inside list tuple is there

dict_items([('name', 'kiran'), ('age', 20), ('loc', 'trichy')])

In [67]:
a["demo"] = "try" ## always add at last 
print(a)

{'name': 'kiran', 'age': 20, 'loc': 'trichy', 'demo': 'try'}

In [69]:
a["height"] = "6.5"
print(a)

{'name': 'kiran', 'age': 20, 'loc': 'trichy', 'demo': 'try', 'height': '6.5'}

In [80]:
##to get a value of key from dictionary 
a["name"]
a["test"]  ## here test does not shows therefore it does not support

KeyError: 'test'

In [78]:
a.get("name")

'kiran'

In [79]:
print(a.get("name",1))
print(a.get("test",1))  ## as test is not there instead of showing none a default value can be added like 1 to get it

kiran
1

In [85]:
a={"name": "arun" ,"age" : 20 ,"name" : "test"}  ## in dictionary key should not be duplicate if given it will take the last one
print(a)

{'name': 'test', 'age': 20}

In [86]:
b = a.popitem()
print(a)

{'name': 'test'}

In [87]:
print(b)

('age', 20)

In [88]:
## operator
## arithmets

In [89]:
a=5
b=4
print(a+b)
print(a-b)
print(a*b)
print(a**b) ## to the power of
print(a/b)
print(a//b) ## floor division , gives quotient
print(a%b)  ## modulus , gives reminder

9
1
20
625
1.25
1
1

In [90]:
## relational
a=5
b=3
print(a==b) # equal
print(a!=b) # not equal
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

In [91]:
### to check whether the relation is equal we should use double ==
### if we use single one it will become asignment operator

In [92]:
## assignment 
a=5
a = a+ 5
print(a)

10

In [93]:
a+=3 
print(a)

13

In [94]:
## logical
## and , or , not

In [97]:
print(True and True)  ## true and false should be in caps because it is syntax

True

In [98]:
print(True and False)

False

In [99]:
print(True or True)

True

In [100]:
print(True or False)

True

In [101]:
print(not True)

False

In [102]:
print(not False)

True